@import url(https://fonts.googleapis.com/css?family=Brygada+1918:400,500,600,700,400i,500i,600i,700i&display=swap);





.btn {
  border-width: 1px;
}
body {
  font-family: Brygada 1918;
}
.display-1 {
  font-family: 'Brygada 1918', serif;
  font-size: 8.75rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 10.9375rem;
}
.display-2 {
  font-family: 'Brygada 1918', serif;
  font-size: 4.4rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.5rem;
}
.display-4 {
  font-family: 'Brygada 1918', serif;
  font-size: 0.9rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.125rem;
}
.display-5 {
  font-family: 'Brygada 1918', serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Brygada 1918', serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 7rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 6.125rem;
    font-size: calc( 3.7124999999999995rem + (8.75 - 3.7124999999999995) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.7124999999999995rem + (8.75 - 3.7124999999999995) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.52rem;
    font-size: calc( 2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.72rem;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.5rem 0.75rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #4f2e53 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #4f2e53 !important;
  border-color: #4f2e53 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #1a0f1b !important;
  border-color: #1a0f1b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1a0f1b !important;
  border-color: #1a0f1b !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #4f2e53;
  color: #4f2e53;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #1a0f1b !important;
  background-color: transparent!important;
  border-color: #1a0f1b !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4f2e53 !important;
  border-color: #4f2e53 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #4f2e53 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #110a11 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #4f2e53;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4f2e53;
  border-color: #4f2e53;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #4f2e53;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c49ec9;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Brygada 1918', serif;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.125rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #4f2e53 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Brygada 1918', serif;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.125rem;
}
blockquote {
  border-color: #4f2e53;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4f2e53;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #4f2e53;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4f2e53;
  border-bottom-color: #4f2e53;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4f2e53 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234f2e53' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-srUwjzaFTG .b-shadow {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
}
.cid-srUwjzaFTG .nav-item {
  list-style: none;
}
.cid-srUwjzaFTG .nav-item:focus,
.cid-srUwjzaFTG .nav-link:focus {
  outline: none;
}
.cid-srUwjzaFTG .nav-dropdown .dropdown-menu {
  padding-top: 0;
}
.cid-srUwjzaFTG .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-srUwjzaFTG .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-srUwjzaFTG .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-srUwjzaFTG .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-srUwjzaFTG .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0em 0em !important;
  transition: none;
  margin: 0 !important;
}
.cid-srUwjzaFTG .navbar {
  min-height: 77px;
  transition: all 0.3s;
  flex-direction: row !important;
  background: #ffffff;
}
.cid-srUwjzaFTG .navbar.opened {
  transition: all 0.3s;
  background: #ffffff !important;
}
.cid-srUwjzaFTG .navbar .dropdown-item {
  padding: 0.235rem 1.5rem;
}
.cid-srUwjzaFTG .navbar .navbar-collapse {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  z-index: 1;
}
.cid-srUwjzaFTG .navbar .navbar-collapse > .container {
  height: 100%;
}
.cid-srUwjzaFTG .navbar .navbar-collapse.show,
.cid-srUwjzaFTG .navbar .navbar-collapse.collapsing {
  display: -webkit-flex;
}
.cid-srUwjzaFTG .navbar .navbar-collapse .img-column img {
  width: 100%;
}
.cid-srUwjzaFTG .navbar .navbar-collapse .text-column {
  overflow: auto;
  max-height: calc(100vh - 7rem);
}
.cid-srUwjzaFTG .navbar .navbar-collapse .contact-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cid-srUwjzaFTG .navbar:not(.navbar-short) .text-column {
  max-height: calc(100vh - 4rem - 3rem);
}
.cid-srUwjzaFTG .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-srUwjzaFTG .navbar.collapsed .dropdown-menu {
  text-align: inherit;
  background: transparent !important;
}
.cid-srUwjzaFTG .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-srUwjzaFTG .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-srUwjzaFTG .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-srUwjzaFTG .navbar.collapsed ul.navbar-nav {
  word-break: break-word;
}
.cid-srUwjzaFTG .navbar.collapsed .dropdown-menu .dropdown-item {
  text-align: inherit;
}
.cid-srUwjzaFTG .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cid-srUwjzaFTG .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-srUwjzaFTG .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
  width: auto;
}
.cid-srUwjzaFTG .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-srUwjzaFTG .navbar-brand {
  min-height: 61px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-srUwjzaFTG .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-srUwjzaFTG .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-srUwjzaFTG .navbar-brand .navbar-logo a img {
  width: auto;
}
.cid-srUwjzaFTG .dropdown-item.active,
.cid-srUwjzaFTG .dropdown-item:active {
  background-color: transparent;
}
.cid-srUwjzaFTG .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-srUwjzaFTG .nav-dropdown .link {
  margin: 0.2em 0em;
}
.cid-srUwjzaFTG .nav-dropdown .link.dropdown-toggle {
  margin: 0;
}
.cid-srUwjzaFTG .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin: 0em 0em;
  padding: 0.2em 0em;
}
.cid-srUwjzaFTG .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-srUwjzaFTG .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-srUwjzaFTG .socicon {
  transition: color 0.3s;
}
.cid-srUwjzaFTG .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-srUwjzaFTG ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-srUwjzaFTG .navbar-buttons {
  text-align: inherit;
}
.cid-srUwjzaFTG button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-srUwjzaFTG button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-srUwjzaFTG button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-srUwjzaFTG button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-srUwjzaFTG button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-srUwjzaFTG button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-srUwjzaFTG nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-srUwjzaFTG nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-srUwjzaFTG nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-srUwjzaFTG nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-srUwjzaFTG .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-srUwjzaFTG .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-srUwjzaFTG .icons-menu {
  text-align: inherit;
  margin-right: 20px;
}
.cid-srUwjzaFTG .icons-menu span {
  font-size: 20px;
  color: #232323;
}
.cid-srUwjzaFTG .nav-link:hover,
.cid-srUwjzaFTG .dropdown-item:hover,
.cid-srUwjzaFTG .icons-menu .mbr-iconfont:hover {
  color: #e0e0e0 !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-srUwjzaFTG .navbar {
    height: 77px;
  }
  .cid-srUwjzaFTG .navbar.opened {
    height: auto;
  }
}
@media (max-width: 767px) {
  .cid-srUwjzaFTG .navbar-collapse .img-column {
    display: none;
  }
  .cid-srUwjzaFTG .icons-menu,
  .cid-srUwjzaFTG .navbar-buttons,
  .cid-srUwjzaFTG .contact-block,
  .cid-srUwjzaFTG .text-column {
    text-align: center !important;
  }
}
.cid-srUwjzaFTG h6.mbr-fonts-style {
  padding: 0;
}
.cid-srUwjzaFTG .collapsing {
  transition: 0s;
}
.cid-srUwjzaFTG .flex-container {
  height: 100%;
  width: 100%;
}
@media (min-width: 769px) {
  .cid-srUwjzaFTG .flex-container {
    display: flex;
    flex-direction: column;
  }
  .cid-srUwjzaFTG .flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .cid-srUwjzaFTG .flex-row.low-row {
    align-items: flex-end;
    flex: 1 1 auto;
  }
  .cid-srUwjzaFTG .flex-card {
    display: flex;
    flex-direction: column;
  }
  .cid-srUwjzaFTG .flex-card h6 {
    padding: .5rem 1rem;
  }
  .cid-srUwjzaFTG .contact-block {
    margin-left: 20px;
  }
  .cid-srUwjzaFTG .contact-block ul li {
    text-align: left;
  }
  .cid-srUwjzaFTG ul.col {
    padding: 0;
  }
  .cid-srUwjzaFTG .flex-row.low-row {
    justify-content: space-between;
  }
}
.cid-srUwjzaFTG .icons-menu,
.cid-srUwjzaFTG .navbar-buttons,
.cid-srUwjzaFTG .contact-block,
.cid-srUwjzaFTG .text-column {
  color: #000000;
}
.cid-srUwjzaFTG .icons-menu a span {
  color: #000000;
}
.cid-srUwjzaFTG H6 {
  color: #232323;
  text-align: left;
}
.cid-srUwjHIBZC {
  padding-top: 10rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/dots.svg");
  background-repeat: repeat;
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .cid-srUwjHIBZC {
    padding-top: 5rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cid-srUwjHIBZC {
    padding-top: 3rem;
    padding-bottom: 0.9rem;
  }
}
.cid-srUwjHIBZC .f-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 992px) {
  .cid-srUwjHIBZC .f-row {
    flex-direction: row;
  }
}
.cid-srUwjHIBZC .f-item {
  flex: 1 1 100%;
}
@media (min-width: 992px) {
  .cid-srUwjHIBZC .f-item {
    flex: 1 1 50%;
  }
}
.cid-srUwjHIBZC .image-wrapper {
  height: 100%;
}
@media (min-width: 992px) {
  .cid-srUwjHIBZC .image-wrapper {
    min-height: 650px;
  }
}
.cid-srUwjHIBZC .image-wrapper img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}
.cid-srUwjHIBZC .text-wrapper {
  width: 100%;
  background: #98dee8;
  padding: 1rem 2rem;
}
@media (min-width: 992px) {
  .cid-srUwjHIBZC .text-wrapper {
    padding: 3rem;
    transform: translate(-12%, -5rem);
  }
}
@media (min-width: 1200px) {
  .cid-srUwjHIBZC .text-wrapper {
    padding: 6rem 3.25rem;
  }
}
.cid-srUwwHzjtR {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/dots.svg");
  background-repeat: repeat;
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .cid-srUwwHzjtR {
    padding-top: 0rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 768px) {
  .cid-srUwwHzjtR {
    padding-top: 0rem;
    padding-bottom: 0.3rem;
  }
}
.cid-srUwwHzjtR .f-row {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 991px) {
  .cid-srUwwHzjtR .flex-item {
    flex: 0 1 50%;
  }
}
@media (max-width: 990px) {
  .cid-srUwwHzjtR .f-row {
    flex-direction: column;
  }
  .cid-srUwwHzjtR .flex-item {
    flex: 1 1 100%;
  }
}
@media (max-width: 991px) {
  .cid-srUwwHzjtR .image-wrapper {
    padding: 1rem;
  }
}
.cid-srUwwHzjtR .text-wrapper {
  background-color: #4f2e53;
  padding: 6rem 1.5rem 1rem;
}
@media (min-width: 1200px) {
  .cid-srUwwHzjtR .text-wrapper {
    padding: 8rem 3rem 2rem;
    margin: 1rem;
  }
}
.cid-srUwwHzjtR .title {
  transform: translateY(8rem);
  padding: 1rem;
}
@media (max-width: 1200px) {
  .cid-srUwwHzjtR .title {
    transform: translateY(7rem);
  }
}
@media (max-width: 1000px) {
  .cid-srUwwHzjtR .title {
    transform: translateY(6rem);
  }
}
.cid-srUwwHzjtR .mbr-section-title {
  color: #a478aa;
  text-align: left;
}
.cid-srUwwHzjtR .mbr-text,
.cid-srUwwHzjtR .mbr-section-btn {
  color: #ffd8db;
}
.cid-srUwwHzjtR .z-100 {
  z-index: 100;
}
.cid-srUwwHzjtR .mbr-text {
  text-align: left;
  color: #ffd8db;
}
.cid-srUwF03LAh {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/dots.svg");
  background-repeat: repeat;
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .cid-srUwF03LAh {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cid-srUwF03LAh {
    padding-top: 1.5rem;
    padding-bottom: 0.9rem;
  }
}
@media (min-width: 768px) {
  .cid-srUwF03LAh .text-wrapper {
    padding-left: 2.25rem;
  }
  .cid-srUwF03LAh .image-wrapper {
    padding-right: 2.25rem;
  }
}
@media (max-width: 768px) {
  .cid-srUwF03LAh .image-wrapper {
    padding-bottom: 2rem;
  }
}
.cid-srUwF03LAh .image-wrapper img {
  width: 80%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-srUwF03LAh .image-wrapper img {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .cid-srUwF03LAh .text-wrapper {
    padding-right: 2.25rem;
    padding-left: 0;
  }
  .cid-srUwF03LAh .image-wrapper {
    padding-left: 2.25rem;
    padding-right: 0;
  }
}
.cid-srUwF03LAh .row {
  flex-direction: row-reverse;
}
.cid-srUwF03LAh .mbr-text,
.cid-srUwF03LAh .mbr-section-btn {
  text-align: left;
}
.cid-srUwF03LAh .mbr-section-title DIV {
  text-align: left;
}
.cid-srUwF03LAh .mbr-section-title {
  text-align: left;
}
.cid-srUwGwSBh8 {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/dots.svg");
  background-repeat: repeat;
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .cid-srUwGwSBh8 {
    padding-top: 0rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cid-srUwGwSBh8 {
    padding-top: 0rem;
    padding-bottom: 0.9rem;
  }
}
.cid-srUwGwSBh8 .f-row {
  display: flex;
  justify-content: flex-start;
}
@media (min-width: 991px) {
  .cid-srUwGwSBh8 .flex-item {
    flex: 0 1 50%;
  }
}
@media (max-width: 990px) {
  .cid-srUwGwSBh8 .f-row {
    flex-direction: column;
  }
  .cid-srUwGwSBh8 .flex-item {
    flex: 1 1 100%;
  }
}
@media (max-width: 991px) {
  .cid-srUwGwSBh8 .image-wrapper {
    padding: 1rem;
  }
}
.cid-srUwGwSBh8 .text-wrapper {
  background-color: #ffe885;
  padding: 6rem 1.5rem 1rem;
}
@media (min-width: 1200px) {
  .cid-srUwGwSBh8 .text-wrapper {
    padding: 8rem 3rem 2rem;
    margin: 1rem;
  }
}
@media (max-width: 1000px) {
  .cid-srUwGwSBh8 .text-wrapper {
    padding: 5rem 1.5rem 1rem;
  }
}
@media (max-width: 767px) {
  .cid-srUwGwSBh8 .text-wrapper {
    padding: 4rem 1.5rem 1rem;
  }
}
.cid-srUwGwSBh8 .title {
  transform: translateY(6rem);
  margin-left: 3rem;
}
@media (max-width: 1200px) {
  .cid-srUwGwSBh8 .title {
    transform: translateY(5rem);
  }
}
@media (max-width: 767px) {
  .cid-srUwGwSBh8 .title {
    transform: translateY(4rem);
    margin-left: 2rem;
  }
}
@media (max-width: 500px) {
  .cid-srUwGwSBh8 .title {
    transform: translateY(3.5rem);
    margin-left: 1rem;
  }
}
.cid-srUwGwSBh8 .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-srUwGwSBh8 .mbr-text,
.cid-srUwGwSBh8 .mbr-section-btn {
  color: #ffd8db;
}
.cid-srUwGwSBh8 .z-100 {
  z-index: 100;
}
.cid-srUwGwSBh8 .mbr-text {
  text-align: left;
  color: #000000;
}
.cid-srUwIXYurl {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/dots.svg");
  background-repeat: repeat;
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .cid-srUwIXYurl {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .cid-srUwIXYurl {
    padding-top: 1.5rem;
    padding-bottom: 0.6rem;
  }
}
.cid-srUwIXYurl .f-row {
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .cid-srUwIXYurl .f-row {
    flex-direction: column;
  }
}
.cid-srUwIXYurl .f-item {
  flex: 1 1 50%;
}
@media (max-width: 1000px) {
  .cid-srUwIXYurl .f-item {
    flex: 1 1 100%;
  }
}
.cid-srUwIXYurl .text-wrapper {
  padding: 0 2rem;
}
@media (max-width: 1000px) {
  .cid-srUwIXYurl .text-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-srUwIXYurl .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-srUwIXYurl .image-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 298px;
  height: 298px;
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 500px) {
  .cid-srUwIXYurl .image-circle {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 400px) {
  .cid-srUwIXYurl .image-circle {
    width: 220px;
    height: 220px;
  }
}
.cid-srUwIXYurl .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-srUwIXYurl .f-row {
  flex-direction: row-reverse;
}
@media (max-width: 1000px) {
  .cid-srUwIXYurl .f-row {
    flex-direction: column;
  }
}
.cid-srUwIXYurl .mbr-text,
.cid-srUwIXYurl .mbr-section-btn {
  text-align: left;
}
.cid-srUwIXYurl .card-title {
  text-align: left;
}
.cid-srUwNJewjB {
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/dots.svg");
  background-repeat: repeat;
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .cid-srUwNJewjB {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cid-srUwNJewjB {
    padding-top: 1.8rem;
    padding-bottom: 0.9rem;
  }
}
.cid-srUwNJewjB .mbr-overlay {
  background: #ffffff;
  opacity: 0.8;
}
.cid-srUwNJewjB img,
.cid-srUwNJewjB .item-img {
  width: 100%;
}
.cid-srUwNJewjB .item:focus,
.cid-srUwNJewjB span:focus {
  outline: none;
}
.cid-srUwNJewjB .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-srUwNJewjB .mbr-section-btn {
  display: flex;
}
.cid-srUwNJewjB .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-srUwNJewjB .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-srUwNJewjB .item-wrapper .item-footer {
    padding: 0 2rem 1.75rem 1.75rem;
  }
}
@media (max-width: 991px) {
  .cid-srUwNJewjB .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-srUwNJewjB .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-srUwNJewjB .item-wrapper.bg1 {
  background: #e38888;
}
.cid-srUwNJewjB .item-wrapper.bg2 {
  background: #FFE885;
}
.cid-srUwNJewjB .item-wrapper.bg3 {
  background: #98DEE8;
}
.cid-srUwNJewjB .mbr-section-title {
  color: #232323;
}
.cid-srUwNJewjB .mbr-text,
.cid-srUwNJewjB .mbr-section-btn {
  text-align: left;
  color: #000000;
}
.cid-srUwNJewjB .item-title {
  text-align: left;
}
.cid-srUwNJewjB .item-subtitle {
  text-align: left;
  color: #000000;
}
.cid-srUwNJewjB .item-img {
  overflow: hidden;
}
.cid-srUwNJewjB .item-img img {
  transition: all 0.3s linear;
}
.cid-srUwNJewjB .item:hover img {
  transform: scale(1.1);
}
.cid-srUwNJewjB .btn {
  position: relative;
}
.cid-srUwNJewjB .btn:after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
  content: url("data:image/svg+xml; utf8, <svg class='icon' xmlns='http://www.w3.org/2000/svg' width='14' height='8' viewBox='0 0 14 8'><path fill='black' fill-rule='nonzero' d='M.146 3.611a.606.606 0 0 1 .437-.177h11.412L9.515.994C9.225.736 9.219.47 9.498.2c.28-.271.553-.265.82.018l3.5 3.394a.343.343 0 0 1 .147.177.65.65 0 0 1 0 .424.343.343 0 0 1-.146.177l-3.5 3.394c-.268.283-.541.29-.82.018-.28-.271-.274-.536.018-.796l2.479-2.44H.583a.577.577 0 0 1-.419-.158A.542.542 0 0 1 0 4c0-.165.049-.295.146-.389z'></path></svg>");
}
.cid-srUwNJewjB .item:hover .btn {
  padding-right: 32px;
}
.cid-srUwNJewjB .item:hover .btn:after {
  opacity: 1;
}
.cid-srUwNJewjB .mbr-section-subtitle {
  color: #232323;
}
.cid-srUwPVrVjR {
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-srUwPVrVjR .mbr-section-title {
  color: #ffffff;
}
.cid-srUwPVrVjR .mbr-text,
.cid-srUwPVrVjR .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-srUwSfp8ML {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/dots.svg");
  background-repeat: repeat;
  background-size: 30px 30px;
}
@media (max-width: 1000px) {
  .cid-srUwSfp8ML {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cid-srUwSfp8ML {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
}
.cid-srUwSfp8ML .f-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cid-srUwSfp8ML .f-item {
  flex: 0 0 50%;
}
.cid-srUwSfp8ML .f-60 {
  flex: 0 0 60%;
}
.cid-srUwSfp8ML .f-40 {
  flex: 0 0 40%;
}
.cid-srUwSfp8ML .mbr-text,
.cid-srUwSfp8ML .mbr-section-btn {
  color: #232323;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-srUwSfp8ML .mbr-text,
  .cid-srUwSfp8ML .mbr-section-title {
    text-align: center;
  }
}
.cid-srUwSfp8ML .title {
  margin-bottom: 3rem;
}
.cid-srUwSfp8ML a.btn {
  height: 100%;
  margin: 0;
}
.cid-srUwSfp8ML .mbr-section-btn {
  display: flex;
  margin-bottom: 1.2rem;
  width: 100%;
}
.cid-srUwSfp8ML .mbr-section-btn .btn {
  width: 100%;
}
.cid-srUwSfp8ML .info {
  padding: 3.25rem;
}
@media (max-width: 991px) {
  .cid-srUwSfp8ML .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-srUwSfp8ML .content-wrapper {
    flex-direction: column;
  }
  .cid-srUwSfp8ML .info {
    padding: 1rem 0;
  }
}
.cid-srUwSfp8ML .justify-content-center {
  align-items: center;
}
.cid-srUwSfp8ML .f-item.features-image {
  background: #98dee8;
  padding: 0;
}
.cid-srUwSfp8ML .item-content {
  padding: 3.25rem 3.25rem 2.25rem;
}
.cid-srUwSfp8ML P {
  text-align: center;
}
.cid-srUwSfp8ML H3 {
  text-align: left;
}
.cid-srUwSfp8ML .mbr-title {
  text-align: left;
}
.cid-srUwSfp8ML .mbr-text {
  text-align: left;
}
.cid-srUwSfp8ML .mbr-text2 {
  text-align: left;
}
.cid-srUwTFbGjj {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #98dee8;
}
@media (max-width: 1000px) {
  .cid-srUwTFbGjj {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .cid-srUwTFbGjj {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
  }
}
.cid-srUwTFbGjj .info ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .cid-srUwTFbGjj .info ul {
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
.cid-srUwTFbGjj .info {
  padding: 0.25em 0;
}
@media (min-width: 769px) {
  .cid-srUwTFbGjj .info {
    padding: 3.25rem 0;
  }
}
.cid-srUwTFbGjj .info ul a {
  display: block;
}
.cid-srUwTFbGjj .info ul li {
  list-style: none;
}
.cid-srUwTFbGjj .nav-link {
  padding: 0;
  margin: 0;
}
.cid-srUwTFbGjj .first-column .mbr-text,
.cid-srUwTFbGjj .mbr-privacy,
.cid-srUwTFbGjj .info {
  margin: 0;
}
.cid-srUwTFbGjj .f-privacy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.cid-srUwTFbGjj .mbr-privacy {
  margin-left: 1rem;
  text-align: left;
}
.cid-srUwTFbGjj .mbr-privacy-link:hover,
.cid-srUwTFbGjj .info-link:hover {
  text-decoration: underline;
}
.cid-srUwTFbGjj .f-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-srUwTFbGjj .f-row {
    flex-direction: column;
    align-items: center;
  }
}
.cid-srUwTFbGjj .f-item {
  flex: 0 0 50%;
  padding: 0 1rem;
}
@media (max-width: 768px) {
  .cid-srUwTFbGjj .f-item {
    flex: 1 1 auto;
    padding-bottom: 1rem;
  }
}
.cid-srUwTFbGjj .icons-wrapper ul {
  display: flex;
  margin: 0;
  padding: 0;
}
@media (max-width: 400px) {
  .cid-srUwTFbGjj .icons-wrapper ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cid-srUwTFbGjj .icons-wrapper ul li {
    margin-bottom: 1.5rem;
  }
}
.cid-srUwTFbGjj .icons-wrapper ul li {
  margin-right: 1.05rem;
  display: inline-block;
}
.cid-srUwTFbGjj .icons-wrapper ul li .mbr-iconfont {
  padding: 8px;
  border-radius: 50%;
  color: #98dee8;
  background: #40b0bf;
  font-size: 1.5rem;
  transition: background 0.3s linear;
}
.cid-srUwTFbGjj .icons-wrapper ul li .mbr-iconfont:hover {
  background: #2299aa;
}
.cid-srUwTFbGjj .icons-wrapper ul li:last-child {
  margin-right: 0;
}
.cid-srUwTFbGjj .col + .mbr-section-btn .btn,
.cid-srUwTFbGjj .col-auto + .mbr-section-btn .btn {
  margin: 0 !important;
  height: 100%;
  border-radius: 0px !important;
  padding: 0 2.2rem !important;
}
.cid-srUwTFbGjj .dragArea > *:nth-last-child(2).col,
.cid-srUwTFbGjj .dragArea > *:nth-last-child(2).col-auto,
.cid-srUwTFbGjj .col + .mbr-section-btn,
.cid-srUwTFbGjj .col-auto + .mbr-section-btn {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
@media (max-width: 991px) {
  .cid-srUwTFbGjj .first-column,
  .cid-srUwTFbGjj .second-column {
    padding-bottom: 2rem;
  }
  .cid-srUwTFbGjj .mbr-form .row {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .cid-srUwTFbGjj .first-column,
  .cid-srUwTFbGjj .second-column,
  .cid-srUwTFbGjj .third-column {
    text-align: center;
  }
}
.cid-srUwTFbGjj .mbr-section-title {
  text-align: center;
}
.cid-srUwTFbGjj .mbr-section-info,
.cid-srUwTFbGjj .icons-wrapper {
  text-align: left;
}
.cid-srUwTFbGjj .mbr-privacy,
.cid-srUwTFbGjj .mbr-privacy-link {
  text-align: left;
}
